
<html lang="en">
<head>
    <title>Mail Tucan</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/common.css" rel="stylesheet" type="text/css">
</head>
    
<body style="background-color: #ffffff;">
    <div class="whiteBackground">
    <div class="container">
        <div class="col-lg-6  col-offset-3" style="margin-top: 20px; box-shadow: 0px 0px 10px #B9B9C8; padding-right: 0px; padding-left: 0px; margin-bottom: 30px;">
            <div class="row centerThis">
                <div class="signupTitle">
                    Newsletter Sign Up
                </div>
                <hr style="margin-right: 40px; margin-left: 40px;">
            </div>
            <div class="row centerThis" style="padding-top: 10px; padding-bottom: 30px;">
                <div class="col-lg-12">
                    <div class="signupText">
                        Ingrese su email para recibir noticias semanales.
                    </div>
                    <form action="/form/<%= @newsletter.id %>" method="POST">
                    <div class="col-lg-8 col-offset-2">
                        <input type="text" class="facebookURL" name="subscriber_email" placeholder="Tu Email">
                    </div>
                    <div class="col-lg-4 col-offset-4">
                        <input class="subscribeButton" type="submit" name="submit" value="suscribir">
                    </div>
                    </form>
                </div>
            </div>
            <div class="greenBox centerThis" style="padding-bottom: 30px;">
                <img class="logoimgSmall" src="/img/logo4.png" />
            </div>
        </div>
    </div>
    </div>
</body>
</html>
