
<html lang="en">
<head>
    <title>Mail Tucan</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/common.css" rel="stylesheet" type="text/css">
</head>
    
<body style="background-color: #ffffff;">
    <div class="whiteBackground">
    <div class="container">
        <div class="col-lg-6  col-offset-3" style="margin-top: 20px; box-shadow: 0px 0px 10px #B9B9C8; padding-right: 0px; padding-left: 0px; margin-bottom: 30px;">
            <div class="row centerThis">
                <div class="signupTitle">
                    NewsLetter Sign Up
                </div>
                <hr style="margin-right: 40px; margin-left: 40px;">
            </div>
            <div class="row centerThis" style="padding-top: 10px; padding-bottom: 30px;">
                <div class="col-lg-12">
                    <div class="signupText">
                        Gracias por subscribir! Agradecemos su interés.
                    </div>
                </div>
            </div>
            <div class="greenBox centerThis" style="padding-bottom: 30px;">
                <img class="logoimgSmall" src="/img/logo4.png" />
            </div>
        </div>
    </div>
    </div>
</body>
</html>
